<%= image_tag("index.jpeg", :height => '200', :width => '150', :align => 'left') %>
<%= image_tag("reddy.jpeg", :height => '200', :width => '150', :align => 'right') %>
<div class="container5">
<h1><center>Raja Bahadur Venkat Rama Reddy Women's College</center> </h1><br>
<h3><center>(Autonomous) Affiliated to Osmania University</center></h3><br>
<h4><center>Reaccrediated with grade 'A' by NAAC </center></h4>
</div>
