<div>
<marquee bgcolor="#ffffff" onMouseOver="this.scrollAmount=0" onMouseOut="this.scrollAmount=2" scrollamount="2" direction="up" loop="true" width="30%">
<ul>
<li><font color="#ffffff" size="+1"><a href="www.rbvrrwomenscollege.net/images/docs/ChetnaChemFest.doc" style="text-decoration:none;">Chetna-2k-14</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=214&Itemid=291" style="text-decoration:none;">Hall Tickets</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=213&Itemid=290" style="text-decoration:none;">Convocation 2013</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/images/docs/SeminarKEYCONCEPTwithregistration%20Form.pdf" style="text-decoration:none;">A TWO DAY NATIONAL SEMINAR-"SAFETY AND PROTECTION FOR MILLENNIUM WOMEN IN INDIA" on 10th and 11th September-2013</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/images/docs/sayujya_2013.pdf" style="text-decoration:none;">A Two Day Management Fest conducted by B.B.M.T students(26th-27th August 2013)</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="www.rbvrrwomenscollege.net/images/docs/Ad-Proof.jpg" style="text-decoration:none;">Notifications for the posts of Assistant Professors/Associate Professor/Computer Programmer</a></font><p></li>

<li><font color="#ffffff" size="+1"><a href="www.rbvrrwomenscollege.net/images/docs/APPLICATIONFORM(Latest).doc" style="text-decoration:none;">Admission-Schedule 2013-2014</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=211&Itemid=285" style="text-decoration:none;">Convocation Notification(2009-2012)</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=210&Itemid=284" style="text-decoration:none;">Two Day Seminar "Spectro-Analytical Techniques"</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=204&Itemid=280" style="text-decoration:none;">College Re-accrediated with Grade 'A' by NAAC</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=201&Itemid=276" style="text-decoration:none;">Department Proposals under CPE Second Installment </a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=202&Itemid=277" style="text-decoration:none;">CBCS Introduced from the Academic year 2012-2013</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=198&Itemid=273" style="text-decoration:none;">CPE Action Plan 2010-11</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=85&Itemid=187" style="text-decoration:none;">Award of CPE Status by UGC</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=75&Itemid=194" style="text-decoration:none;">Extension of Autonomy Granted</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=74&Itemid=195" style="text-decoration:none;">Report of CPE Action Plan 2010-2011</a></font></li>

<li><font color="#ffffff" size="+1"><a href="coe1.annauniv.edu/" style="text-decoration:none;">Results for Seminar Examinations Oct/Nov 2012 declared</a></font></li>

<li><font color="#ffffff" size="+1"><a href="http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=203&Itemid=279" style="text-decoration:none;">Upcoming Events in the month of February 2013</a></font></li>

</marquee>
</div>
