<footer class="navbar navbar-fixed-bottom">
<nav class="navbar navbar-inverse" role="navigation">

<div class="navbar-inner">

<%= link_to "Ostrya Labs", '#', id: "log" %>
<br>
<div class="container1">
<h5><font color="white"> &nbsp; &#169;&nbsp;&nbsp;2012 rbvrr Women's college</font></h5>
</div>
</div>
</nav>
</footer>
