<header class="navbar navbar-fixed-top">
<nav class="navbar navbar-inverse" role="navigation">

<div class="navbar-inner">
<div class="container">
<center><%= link_to "Controller of Examinations", '#', id: "logo" %></center>
</div>
</div>
</nav>
</header>








