.container
  .row
    .btn-group.btn-breadcrumb
      %a.btn.btn-primary{href: "#"}
        %i.glyphicon.glyphicon-home
      %a.btn.btn-primary{href: "#"} Organization Chart
      %a.btn.btn-primary{href: "#"} Calendar
      %a.btn.btn-primary{href: "#"} Exam Schedule


